/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */

.top_banner, .navbar, .main_menu, .image_container {
    width: 80%;
    margin: auto;
}

.top_banner {
    height: 100px;
    background-color: white;
    line-height: 100px;
    vertical-align: middle;
}

.top_banner>img {
    height: 100%;
    width: auto;
}

.navbar {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    padding-right: 10px;
}

.navbar a, a:link, a:visited, a:active, .jumbo_title h2, .jumbo_title p {
    color: grey;
}

.navbar a:hover {
    color: black;
    font-size: 20px;
}

/* main article */

.image_container {
    background-image: url("./img/banner.jpg"),  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-blend-mode: overlay;
    height: 450px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.title_container {
    width: 60%;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
}

/* center */

.leadership {
    padding: 25px 0;
    width: 80%;
    margin: auto;
}

.leadership h1 {
    font-weight: bolder;
    font-size: 40px;
}

.leadership p {
    font-size: 18px;
color: grey;
}

/* menu centrale */

.main_menu {
    margin-top: 30px;
}

.side_column, .center_column {
    float: left;
}

.side_column {
    width: 20%;
    color: lightgrey;
    height: 600px;
}

.center_column {
    width: calc(60% - 20px);
    color: lightgrey;
    height: 600px;
    margin: 0 10px;
}

.image_1, .image_2, .image_3 {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.image_1 {
    background-image: url("./img/img-1.jpg"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.image_2 {
    background-image: url("./img/banner-2.jpg"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.image_3 {
    background-image: url("./img/img-3.jpg"), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.side_column p, .side_column h3, .center_column p, .center_column h3 {
    font-size: 17px;
    margin: 20px 20px 0 0;
    color: grey;
}

.side_column h3, .center_column h3 {
    color: black;
}

/* footer  */

footer {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.heart {
    font-size: 30px;
    font-weight: bolder;
    color: red;
}